.float-container {
    border: 3px solid #fff;
    padding: 20px;
    display: flex;
}

.float-child-left, .float-child-right {
    float: left;
    /* padding: 1%; */
    margin: 1%;
    border: 2px solid red;
    height: 600px;
    /* display:flex; */
}

.float-child-left{
    width: 40%;
}

.float-child-right{
    width: 60%;
}

.mainimg{
    width: 100%;
}
